.row {
    margin-left: 30px;
    margin-top: 15px;
    color: #fff;
}
.movie {
    cursor: pointer;
    position: relative;
    width: 100%;
    transition: 0.3s;
}
.movie_poster {
    object-fit: contain;
    max-height: 150px;
    margin-left: 5px;
}

.movie_poster_landscape {
    transition: 0.3s;
    object-fit: contain;
    max-height: 150px;
    margin-left: 10px;
}

.movie:hover {
    transform: scale(1.05);
}

.movie_posters {
    padding: 20px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.movie_posters::-webkit-scrollbar {
    display: none;
}

.movie_details {
    z-index: 99;
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;

    position: absolute;
}



